@import "css/theme/solarized.css";

.reveal h1 {
  font-size: 3em;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.photo {
  position: absolute;
  top: 160px;
  left: 0px;
}

.photo-info {
  position: absolute;
  top: 160px;
  left: 550px;
}

.reveal .photo-me {
  width: 350px;
  clip: rect(0, 350px, 400px, 0px)
}

.reveal li:nth-child(2n+1) {
  color: #FB535A;
}
